@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.label-left {
  text-align: left !important;
  display: block;
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  color:#FDC913;
}
.roboto-condensed-myFont {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  
}
.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .form-label {
    @apply block text-lg font-semibold my-4 text-left;
  }
  .form-input {
    @apply block w-full p-2 border border-gray-300 rounded;
  }
  .error-text {
    @apply text-red-500 text-sm mt-5;
  }
 
.btn-quantity{
  @apply  w-10 h-10 flex-shrink-0 flex items-center justify-center bg-[#FDC913] hover:bg-yellow-500 rounded-lg text-xl font-bold
}
.btn-primary {
  @apply w-full font-semibold py-2 px-4 rounded-lg mt-10 row-end-3
         bg-[#FDC913] hover:bg-yellow-500
         disabled:bg-gray-300 disabled:text-gray-500;
}
.btn-home{
    @apply  px-6 py-2 rounded-lg font-semibold bg-[#FDC913]  hover:bg-yellow-500 transition
}

  .section-title {
    @apply text-lg font-semibold text-left;
  }
  .transparan-label {
  @apply text-white/70;
}
 .home-main {
  @apply bg-[#FAF7F2]
}
}

  @layer utilities {
  .insta {
    @apply h-16 w-full rounded bg-no-repeat bg-cover bg-center;
  }

  .insta-1 {
    background-image: url("./assets/images/iteration-2-images/footer/insta/li-0.png");
  }

  .insta-2 {
    background-image: url("./assets/images/iteration-2-images/footer/insta/li-1.png");
  }

  .insta-3 {
    background-image: url("./assets/images/iteration-2-images/footer/insta/li-2.png");
  }

  .insta-4 {
    background-image: url("./assets/images/iteration-2-images/footer/insta/li-3.png");
  }

  .insta-5 {
    background-image: url("./assets/images/iteration-2-images/footer/insta/li-4.png");
  }

  .insta-6 {
    background-image: url("./assets/images/iteration-2-images/footer/insta/li-5.png");
  }
   .footer-icon {
    @apply inline-block h-4 w-4 mr-2 bg-no-repeat bg-contain align-middle;
  }

  .icon-location {
    background-image: url("./assets/images/iteration-2-images/footer/icons/icon-1.png");
  }

  .icon-mail {
    background-image: url("./assets/images/iteration-2-images/footer/icons/icon-2.png");
  }

  .icon-phone {
    background-image: url("./assets/images/iteration-2-images/footer/icons/icon-3.png");
  }
  
  .bg-pizza {
    background-image: url('./assets/images/iteration-2-images/cta/kart-1.png');
    background-size: cover;
    background-position: center;
  }
  .bg-burger {
    background-image: url('./assets/images/iteration-2-images/cta/kart-2.png');
    background-size: cover;
    background-position: center;
  }
  .bg-courier {
    background-image: url('./assets/images/iteration-2-images/cta/kart-3.png');
    background-size: cover;
    background-position: center;
  }
  .container-images{
   @apply text-white rounded-2xl p-6 flex flex-col justify-between bg-cover
  }

  .terminalPizza{
    content:url("./assets/images/iteration-2-images/pictures/food-1.png");
}
.positionPizza{
  content:url('./assets/images/iteration-2-images/pictures/food-2.png')
}
.burger{
  content:url('./assets/images/iteration-2-images/pictures/food-3.png')
}
}




